<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.dao.ExpressDao">
    <resultMap id="expressResult" type="com.express.model.Express">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="expressNo" column="express_no" jdbcType="VARCHAR"/>
        <result property="fromDate" column="from_date" jdbcType="DATE"/>
        <result property="arriveDate" column="arrive_date" jdbcType="DATE"/>
        <result property="receiveDate" column="receive_date" jdbcType="DATE"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="consignee" column="consignee" jdbcType="VARCHAR"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
        <result property="verificationCode" column="verification_code" jdbcType="VARCHAR"/>
        <result property="addressSource" column="address_source" jdbcType="VARCHAR"/>
        <result property="addressDest" column="address_dest" jdbcType="VARCHAR"/>
        <result property="status" column="express_status" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertExpressInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO  express.expressinfo VALUES (#{addressDest},#{addressSource},#{company},#{contact},#{fromDate},#{expressNo},
        #{getDate},#{verificationCode},#{toDate},#{consignee},#{status});
    </insert>

    <update id="updateExpressInfo">
        UPDATE
        express.expressinfo
        set
        express_status=#{status}
        and
        get_date=#{getDate}
        where
        express_no=#{expressNo}
    </update>

    <select id="queryExpressInfo" resultMap="expressResult">
        SELECT *
        FROM express.expressinfo
        where
    </select>

    <delete id="deleteExpress">
        DELETE from express.expressinfo WHERE express_no=#{expressNo}
    </delete>
</mapper> 