<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.dao.ExpressDao" >
    <resultMap  type="com.express.model.Express" id="expressResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="expressNo" column="express_no" jdbcType="VARCHAR"/>
        <result property="fromDate" column="from_date" jdbcType="DATE"/>
        <result property="arriveDate" column="arrive_date" jdbcType="DATE"/>
        <result property="receiveDate" column="receive_date" jdbcType="DATE"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="consignee" column="consignee" jdbcType="VARCHAR"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
        <result property="verificationCode" column="verification_code" jdbcType="VARCHAR"/>
        <result property="addressSource" column="address_source" jdbcType="VARCHAR"/>
        <result property="addressDest" column="address_dest" jdbcType="VARCHAR"/>
        <result property="expressStatus" column="express_status" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertExpress" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO  express.expressinfo(express_no, from_date, arrive_date, receive_date, company
           , consignee, contact, verification_code, address_source, address_dest, express_status)
        VALUES (#{expressNo},#{fromDate}, #{arriveDate},#{receiveDate},#{company},#{consignee},#{contact}
        ,#{verificationCode},#{addressSource},#{addressDest},#{expressStatus});
    </insert>

    <update id="updateExpressInfo">
        UPDATE
        express.expressinfo
        set
            <if test="expressNo!=null" >
                express_no=#{expressNo}
            </if>
        and
            <if test="fromDate！=null">
               from_date =#{fromDate}
            </if>
        and
            <if test="arriveDate!=null">
              arrive_date=#{arriveDate}
            </if>
        and
            <if test="receiveDate">
              receive_date=#{receiveDate}
            </if>
        and
            <if test="company">
              company=#{company}
            </if>
        and
            <if test="consignee">
              consignee=#{consignee}
            </if>
        and
            <if test="verificationCode">
              contact=#{contact}
            </if>
        and
            <if test="receiveDate">
              verification_code=#{verificationCode}
            </if>
        and
            <if test="addressSource">
              address_source=#{addressSource}
            </if>
        and
            <if test="addressDest">
              address_dest=#{addressDest}
            </if>
        and
            <if test="expressStatus">
              express_status=#{expressStatus}
            </if>
    </update>

    <select id="queryExpressInfo" resultMap="expressResult">
        SELECT
        express_no, from_date, arrive_date, receive_date, company
        , consignee, contact, verification_code, address_source, address_dest, express_status
        FROM   express.expressinfo
        where
          1=1
        <if test="contact!=null and expressNo==null">
            and contact=#{contact}
        </if>
        <if test="expressNo!=null and contact=null">
            and express_no=#{expressNo}
        </if>
        <if test="contact!=null and expressNo!=null">
            and contact=#{contact} and express_no=#{expressNo}
        </if>
    </select>

    <select id="getExpressInfoById" resultMap="expressResult">
        SELECT
        express_no, from_date, arrive_date, receive_date, company
           , consignee, contact, verification_code, address_source, address_dest, express_status
        FROM express.expressinfo
        where
          id=#{id}
    </select>

    <delete id="deleteExpress">
        DELETE from express.expressinfo WHERE express_no=#{expressNo}
    </delete>
</mapper> 